@model IEnumerable<Locamer2.Models.Option>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.libelle_option)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.libelle_option)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prix)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_option }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_option }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_option })
        </td>*@
    </tr>
}

</table>
